#                    ARUMA 
$\textit{"Bajo el cielo estrellado navego en el mundo"}$

In [115]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras as kt
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from scipy.cluster.hierarchy import dendrogram, linkage
from bioinfokit.visuz import cluster
from datetime import date 
from sklearn import linear_model
from scipy.stats import skew
import statsmodels.api as sm
import requests
from plotnine import ggplot, aes, geom_point
from forex_python.converter import CurrencyRates
from bs4 import BeautifulSoup
import datetime
from haversine import haversine, Unit
import math
from geopy.distance import geodesic
import openpyxl

### Alternativa manual

In [10]:
def distancia_entre_puntos(lat1, lon1, lat2, lon2):
    
    #Radio de la Tierra en metros
    
    Earth_radius = 6371000
    
    lat1, lon1, lat2, lon2, = map(math.radians, [lat1,lon1,lat2,lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    #Formula de haversine para calcular la distancia.
    
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * sin(dlon / 2) ** 2
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    
    distance = Earth_radius * c
    
    return distance

## Usando Geopy

In [101]:
#Cargamos el dataset original
dataset_original = pd.read_excel("Datasets/dataset_tasacion_train.xlsx", header=[0], index_col=None)

#Cargamos todos los datasets complementarios LIMA

df_bancos = pd.read_excel("Datasets/Datasets_complement/bancos_lima.xlsx", header=None, index_col=None)
df_bares = pd.read_excel("Datasets/Datasets_complement/bares_lima.xlsx", header=[0], index_col=None)
df_centros_comerciales = pd.read_excel("Datasets/Datasets_complement/centros_comerciales_lima.xlsx", header=[0], index_col=None)
df_hospitales = pd.read_excel("Datasets/Datasets_complement/hospitales_lima.xlsx", header=[0], index_col=None)
df_Estaciones_publicas = pd.read_excel("Datasets/Datasets_complement/Metro_autobus_lima.xlsx", header=[0], index_col=None)
df_parques = pd.read_excel("Datasets/Datasets_complement/parques_lima.xlsx", header=[0], index_col=None)
df_playas = pd.read_excel("Datasets/Datasets_complement/playas_lima.xlsx", header=[0], index_col=None)
df_restaurants = pd.read_excel("Datasets/Datasets_complement/restaurantes_lima.xlsx", header=[0], index_col=None)
df_museos = pd.read_excel("Datasets/Datasets_complement/museos_lima.xlsx", header=[0], index_col=None)


#Fixers
df_bancos.rename(columns={3:'Latitud (Decimal)'}, inplace= True)
df_bancos.rename(columns={4:'Longitud (Decimal)'}, inplace= True)

In [105]:
#df_hospitales.head()
#df_bares.head()
df_museos.head()

,Text,Text1,Latitud (Decimal),Longitud (Decimal)
0,C. Pl. Bolívar,"Pueblo Libre 15084, Perú",-12.077900,-77.064855
1,Jirón de la Unión 1030,"Jirón de la Unión 1030, Lima 15001, Perú",-12.052048,-77.038171
2,Av. Simón Bolivar 1515,"Av. Simón Bolivar 1515, Pueblo Libre 15084, Perú",-12.072233,-77.072823
3,Plaza Bolívar,"Av. Abancay, Lima 15001, Perú",-12.047623,-77.028234
4,Jr. Áncash 213,"Jr. Áncash 213, Lima 15001, Perú",-12.044831,-77.030866

In [106]:
#FIXERS DE COLUMNAS:

df_bares.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_bares.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_centros_comerciales.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_centros_comerciales.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_hospitales.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_hospitales.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_Estaciones_publicas.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_Estaciones_publicas.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_parques.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_parques.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_playas.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_playas.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_restaurants.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_restaurants.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

df_museos.rename(columns={'latitud':'Latitud (Decimal)'}, inplace= True)
df_museos.rename(columns={'longitud':'Longitud (Decimal)'}, inplace= True)

In [96]:
#df_bancos.head()
#df_bares.head()
#df_centros_comerciales.head()
#df_hospitales.head()
#df_Estaciones_publicas.head()
#df_parques.head()
#df_playas.head()
#df_restaurants.head()

#dataset_original.info()

In [107]:
def contador_cercanos_validados(row, df):
    """
    Calcula la cantidad de puntos en un DataFrame que están a una distancia menor o igual a 1.5 km de un punto dado
    en una fila de otro DataFrame. Se verifica que las coordenadas estén dentro del rango válido.
    """
    latitud = row['Latitud (Decimal)']
    longitud = row['Longitud (Decimal)']
    
    # Chequeo de valores válidos para latitud y longitud
    if not (-90 <= latitud <= 90) or not (-180 <= longitud <= 180):
        return 0
    
    # Crear una serie de booleanos que indica si cada punto está dentro del radio
    dentro_radio = df.apply(lambda p: geodesic((latitud, longitud), (p['Latitud (Decimal)'], p['Longitud (Decimal)'])).km <= 1.5, axis=1)
    # Contar cuántos puntos están dentro del radio
    return dentro_radio.sum()

## Vamos a calcular el conteo de puntos cercanos para cada punto del dataset original

In [108]:
dataset_original['#de_bancos'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_bancos), axis=1)
dataset_original['#de_bares'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_bares), axis=1)
dataset_original['#de_centros_comerciales'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_centros_comerciales), axis=1)
dataset_original['#de_hospitales'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_hospitales), axis=1)
dataset_original['#de_Estaciones_publicas'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_Estaciones_publicas), axis=1)
dataset_original['#de_parques'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_parques), axis=1)
dataset_original['#de_playas'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_playas), axis=1)
dataset_original['#de_restaurantes'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_restaurants), axis=1)
dataset_original['#de_museos'] = dataset_original.apply(lambda row: contador_cercanos_validados(row, df_museos), axis=1)

In [109]:
dataset_original[:50]

,Fecha entrega del Informe,Calle,Piso,Departamento,Provincia,Distrito,Número de estacionamiento,Depósitos,Latitud (Decimal),Longitud (Decimal),...,Valor comercial,#de_bancos,#de_bares,#de_centros_comerciales,#de_hospitales,#de_Estaciones_publicas,#de_parques,#de_playas,#de_restaurantes,#de_museos
0,2016-09-01 19:00:00,REBECA OQUENDO,NaN,Lima,Lima,Breña,1.0,0.0,-12.059545,-77.046595,...,83754,43,63,14,2,1,1,7,6,10
1,2021-03-11 19:00:00,CONDOMINIO DOSS,NaN,Lima,Lima,Comas,0.0,0.0,-11.937662,-77.066525,...,85355,0,0,0,0,0,0,0,0,0
2,2019-03-18 19:00:00,MANZANA 14 LT 10 LOS JARDINES DEL GOLF,NaN,La Libertad,Trujillo,Victor Larco Herrera,0.0,0.0,-8.135306,-79.035518,...,83838,0,0,0,0,0,0,0,0,0
3,2019-07-25 19:00:00,TRINIDAD MORAN,NaN,Lima,Lima,Lince,NaN,NaN,-12.089796,-77.039245,...,111619,4,5,5,2,2,2,0,17,5
4,2018-01-01 19:00:00,MZ 8 AC,NaN,Lima,Lima,Villa María del Triunfo,1.0,0.0,-12.181048,-76.927642,...,305191,0,0,0,0,0,0,0,2,0
5,2021-01-27 19:00:00,ABRAHAM VALDELOMAR,NaN,Lima,Lima,Pueblo Libre,0.0,0.0,-12.073305,-77.067643,...,80264,0,1,0,0,0,0,0,3,3
6,2016-03-07 19:00:00,31,NaN,Lima,Lima,Lima,1.0,1.0,-12.107400,-77.014200,...,290088,1,0,0,0,0,0,0,2,0
7,2021-01-06 19:00:00,MANZANOS,NaN,Lima,Lima,San Juan de Lurigancho,0.0,0.0,-11.959087,-76.992018,...,136930,0,0,0,0,0,0,0,0,0
8,2018-05-03 19:00:00,RIO,NaN,Lima,Lima,Pueblo Libre,1.0,0.0,-12.075226,-77.056260,...,141126,5,2,4,0,1,0,0,3,3
9,2016-06-19 19:00:00,S/N,NaN,Lima,Lima,Comas,0.0,0.0,-11.931685,-77.059962,...,60405,0,0,0,0,0,0,0,0,0
10,2020-09-30 19:00:00,MARIANO PACHECO,NaN,Lima,Lima,La Victoria,1.0,1.0,-12.083093,-77.017234,...,162000,1,0,1,0,2,0,0,5,0
11,2021-03-17 19:00:00,VICTOR RAUL HAYA DE LA TORRE,NaN,La Libertad,Trujillo,Victor Larco Herrera,0.0,0.0,-8.128316,-79.046914,...,77190,0,0,0,0,0,0,0,0,0
12,2019-11-19 19:00:00,HUANCAVELICA,NaN,Lima,Lima,Lima,NaN,NaN,-12.043582,-77.040064,...,103240,50,59,34,3,1,15,6,15,21
13,2016-09-27 19:00:00,URB MAGISTERIO,NaN,Cusco,Cusco,Cusco,1.0,0.0,-13.524923,-71.949569,...,208785,0,0,0,0,0,0,0,0,0
14,2022-10-05 19:00:00,CHILLACO,NaN,Lima,Lima,Pachacamac,NaN,NaN,-12.237031,-76.840114,...,879191,0,0,0,0,0,0,0,0,0
15,2017-11-28 19:00:00,UNION,NaN,Loreto,Maynas,Iquitos,0.0,0.0,-3.734880,-73.245970,...,75016,0,0,0,0,0,0,0,0,0
16,2020-02-11 19:00:00,SAN CAMILO,NaN,Lima,Lima,Santiago de Surco,NaN,NaN,-12.103750,-76.970689,...,260497,0,0,0,0,0,0,0,1,1
17,2016-09-04 19:00:00,JUAN DE DIOS BEDOYA Y SEIJAS,NaN,Lima,Lima,Lima,1.0,0.0,-12.051572,-77.074782,...,469868,2,1,0,0,0,3,0,0,1
18,2021-05-18 19:00:00,MANZANA H LT 3,NaN,La Libertad,Trujillo,Trujillo,1.0,0.0,-8.128341,-79.027997,...,134521,0,0,0,0,0,0,0,0,0
19,2021-05-04 19:00:00,LAS PALOMAS,NaN,Lima,Lima,Surquillo,1.0,0.0,-12.104768,-77.025240,...,140785,7,3,0,1,3,1,0,5,2
20,2018-05-13 19:00:00,COMUN A LA,NaN,Lima,Lima,San Miguel,0.0,0.0,-12.089395,-77.080571,...,205862,4,0,3,0,1,0,4,1,0
21,2018-03-06 19:00:00,LOS FRUTALES A 5,NaN,Cusco,Cusco,San Sebastian,0.0,0.0,-13.540720,-71.917200,...,56615,0,0,0,0,0,0,0,0,0
22,2018-05-24 19:00:00,AV REYNALDO VIVANCO,NaN,Lima,Lima,Santiago de Surco,1.0,0.0,-12.118885,-76.981043,...,260844,1,0,0,0,0,0,0,4,0
23,2020-03-02 19:00:00,EL CEREZO,NaN,Lima,Lima,Surquillo,NaN,NaN,-12.118362,-77.002148,...,131117,1,0,0,0,1,0,0,3,0
24,2020-09-18 19:00:00,JOSE ARNALDO MARQUEZ,NaN,Lima,Lima,Jesús María,0.0,0.0,-12.066250,-77.044270,...,98112,22,21,12,1,2,1,5,1,5
25,2017-11-16 19:00:00,HUIRACOCHA,NaN,Lima,Lima,Jesús María,1.0,0.0,-12.080072,-77.050490,...,165367,3,0,8,2,1,1,0,4,2
26,2018-04-16 19:00:00,PALO BLANCO,NaN,Lima,Lima,Surquillo,1.0,0.0,-12.124624,-77.001848,...,148798,1,0,1,0,2,0,0,2,0
27,2016-09-21 19:00:00,JOSE ANTONIO,NaN,Lima,Lima,La Molina,0.0,0.0,-12.070375,-76.969072,...,137372,0,1,1,0,0,0,0,2,0
28,2020-02-20 19:00:00,SUB,NaN,Lima,Lima,Miraflores,NaN,NaN,-12.125869,-77.010785,...,224269,1,0,1,1,0,1,0,3,0
29,2020-01-16 19:00:00,IQUITOS,NaN,Lima,Lima,Lince,NaN,NaN,-12.079201,-77.029049,...,123244,3,3,3,2,3,0,0,5,4
30,2018-07-18 19:00:00,S/N,NaN,Lima,Lima,Ate,0.0,1.0,-12.030410,-76.938005,...,240477,0,0,1,0,0,1,0,0,0
31,2017-10-25 19:00:00,MANZANA MZ,NaN,Arequipa,Arequipa,Paucarpata,0.0,0.0,-16.405425,-71.478820,...,83283,0,0,0,0,0,0,0,0,0
32,2022-04-09 19:00:00,JOSE GALVEZ,NaN,Lima,Lima,Miraflores,1.0,NaN,-12.121281,-77.038655,...,359700,6,28,2,1,2,2,7,52,1
33,2018-04-03 19:00:00,LUIS PASTEUR,NaN,Lima,Lima,Lince,1.0,0.0,-12.091413,-77.044730,...,191303,2,5,6,2,0,1,0,17,2
34,2018-05-13 19:00:00,SANTA BRIGIDA,NaN,Lima,Lima,Lima,0.0,0.0,-12.066875,-77.076171,...,171690,2,0,0,0,0,1,0,1,3
35,2020-02-12 19:00:00,JOSE ARNALDO MARQUEZ,NaN,Lima,Lima,Jesús María,NaN,NaN,-12.079700,-77.054626,...,215231,3,1,7,1,1,1,0,5,2
36,2016-11-22 19:00:00,SAN BORJA NORTE,NaN,Lima,Lima,San Borja,1.0,0.0,-12.093325,-76.998717,...,1065868,0,0,1,0,0,2,0,0,0
37,2020-11-11 19:00:00,LAS HIEDRAS N 121,NaN,Lima,Lima,Santiago de Surco,1.0,1.0,-12.126789,-76.971978,...,255958,0,0,0,0,0,0,0,0,1
38,2021-06-24 19:00:00,GRIMALDO DEL SOLAR,NaN,Lima,Lima,Miraflores,1.0,0.0,-12.123050,-77.025948,...,178682,4,27,2,2,3,1,3,48,0
39,2016-02-22 19:00:00,MANZANA URB LUCREPATA,NaN,Cusco,Cusco,Cusco,2.0,1.0,-13.514883,-71.970383,...,315840,0,0,0,0,0,0,0,0,0
40,2019-03-10 19:00:00,SIETE N,NaN,Lima,Lima,Chorrillos,0.0,0.0,-12.177787,-77.013881,...,161996,0,0,1,0,2,0,0,0,1
41,2017-10-26 19:00:00,MONTE FICUS,NaN,Lima,Lima,Santiago de Surco,0.0,0.0,-12.143807,-76.984548,...,137458,1,0,1,0,1,0,0,0,1
42,2018-04-11 19:00:00,EL POLO,NaN,Lima,Lima,Santiago de Surco,0.0,0.0,-12.096414,-76.969206,...,169863,0,0,1,0,0,0,0,0,1
43,2022-04-04 19:00:00,Avenida San Pedro de Choque,NaN,Lima,Lima,Puente Piedra,NaN,NaN,-11.864241,-77.055988,...,31218,0,0,0,0,0,0,0,0,0
44,2017-08-01 19:00:00,GERMAN GOMEZ SANCHEZ,NaN,Lima,Lima,Miraflores,2.0,1.0,-12.126719,-77.012604,...,490040,1,0,1,1,2,1,0,3,0
45,2019-09-06 19:00:00,AGRUPACION DE FAMILIAS SANTA CRUZ,NaN,Lima,Lima,Punta Hermosa,0.0,0.0,-12.333870,-76.823620,...,153505,0,0,0,0,0,0,3,0,0
46,2019-09-09 19:00:00,PIURA,NaN,Lima,Lima,Miraflores,0.0,0.0,-12.116181,-77.036388,...,276760,7,27,1,1,2,2,4,51,1
47,2017-12-12 19:00:00,SANTIAGO,NaN,Lima,Lima,Jesús María,0.0,0.0,-12.082417,-77.057538,...,114747,4,1,7,0,0,1,0,6,2
48,2021-05-04 19:00:00,MZ A LT 18,NaN,Arequipa,Arequipa,Sachaca,0.0,0.0,-16.428816,-71.574362,...,364367,0,0,0,0,0,0,0,0,0
49,2022-05-23 19:00:00,brasil,NaN,Lima,Lima,Breña,0.0,NaN,-12.073596,-77.052888,...,126424,6,3,4,1,1,1,1,3,2

In [118]:
dataset_Lima = dataset_original.copy()

writer = pd.ExcelWriter('Datasets/Dataset_Lima_train.xlsx', engine='openpyxl')
dataset_Lima.to_excel(writer, sheet_name='Hoja1', index=False)
writer.save()

/tmp/ipykernel_7599/551980194.py:5: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version